iframe{ width: 100%; height: 100%; }

.user{ float:left; margin: 2px; text-align: center; height: 252px; }
.name{ font-weight: bold; }

.active{ border: 2px solid green; }
.inactive{ border: 2px solid red; }
